* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0E0E0E;
  margin: 20px;
}

.header {
  background-image: url(../img/oldman.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
  background-color: #0C325A;
  height: 350px;
  width: 50%;
  margin: auto;
}

.header-nav {
  width: 85%;
  margin: 0 auto;
  height: 80px;
  /* line-height: 80px; */
}

.header-nav::after {
  content: "";
  display: table;
  clear: both;
}
