* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0E0E0E;
  font-family: Roboto, sans-serif;
}

.header {
  background-image: url(../img/oldman.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
  background-color: #0C325A;
  height: 350px;
  width: 60%;
  margin: auto;
}

.header-nav {
  width: 85%;
  margin: 0 auto;
  height: 80px;
}

.header-nav::after {
  content: "";
  display: table;
  clear: both;
}

.list-inline {
  list-style: none;
}
.header-nav li {
  vertical-align: middle;
  display: inline;
  line-height: 40px;
  padding: 0;
  font-size: 8px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
}

.header-nav-
